

  /* Añade estas reglas a tu archivo de estilos CSS */
.slick-prev,
.slick-next {
  background-color: rgba(255, 0, 0, 0);
  color: #FF0303;
  font-size: 38px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000; /* Ajusta según sea necesario */
  
}


.slick-prev {
  left: 300px;
  top: 60%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajusta completamente verticalmente */
}

.slick-next {
  right: 320px;
  top: 60%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajusta completamente verticalmente */
}
@media screen and (max-width: 768px) {
  .slick-prev {
    left: 10px;  /* Ajusta según sea necesario */
    right: auto; /* Reinicia la posición right a auto */
    top:6%;
    font-size: 20px;
  }

  .slick-next {
    right: 30px; /* Ajusta según sea necesario */
    left: auto; /* Reinicia la posición left a auto */
    top:6%;
    font-size: 20px;
  }
}

.slick-next::before{
  display: none;
}

.slick-prev::before{
  display: none;
}



