.home-container{
   
    display:grid;
    grid-template-columns: 25% 50% 25%;
  width: 100vw;
  margin-bottom: 0;
}
.img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
   
}
.img1{
    width: 400px;
    margin-bottom: 0;
    padding-left: 3rem;
    
}
.img2{
    width: 250px;
    margin-bottom: 0;
    transition: transform 0.5s ease;
}
.img2:hover {
    transform: rotate(360deg);
}
h1{
    font-family: 'Coming Soon', cursive;
    color: #FF0303;
    font-size: 48px;
    letter-spacing: 25px;
    margin-bottom: 0; 
}
h2{
    margin-top: 0;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 0;
}
.container-text{
    display: grid;
    grid-template-rows: 10% 40% 40%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.text{
    padding-top: 2rem;
}

  
.nav-home{
    padding-bottom: 2rem;
}
.nav-container{
    padding-bottom: 3rem;
    margin-top: 0;
}


@media (max-width: 768px) {

    .home-container{
        margin-bottom: 2rem;
        display:grid;
        grid-template-rows: 1fr;
      width: 100vw;
    }  
    .img{
        display: flex;
        align-items: center;
        justify-content:center
        
       
    }
    .img1{
        width: 150px;
        margin-bottom:24rem;
        padding-left: 3rem;
        
    }
    .img2{
        width: 100px;
        margin-top: 4rem;
    }
    .container-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        margin-top: 2rem; /* Ajusta según sea necesario */
      }
    
      .nav-container {
        width: 100%;
        margin-top: 0rem; /* Ajusta según sea necesario */
         /* Cambiado de 'relative' a 'fixed' */
        
       
        z-index: 1000; /
      }
    h2{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
    }
}




